*.beam
*.version
*~
.DS_Store
.bin
.eunit
Mnesia.*
apps/howl/ebin
apps/howl/include/HOWL-MIB.hrl
apps/howl/priv/mibs/HOWL-MIB.bin
apps/howl/src/howl_version.hrl
db
deps
dev
doc
ebin
erl_crash.dump
howl.xml
howl_template.xml
manifest
rel/howl
rel/howl.tar.bz2
rel/pkg/*.tgz
rel/pkg/build-info
rel/pkg/packlist
standalone.config
