%% -*- erlang -*-
{sub_dirs, ["rel", "apps/howl"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {meck, "0.8.1", {git, "git://github.com/basho/meck.git", {tag, "0.8.1"}}},
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}},
  {fifo_dt, "0.1.*", {git, "https://github.com/project-fifo/fifo_dt.git", {tag, "0.1.38"}}},
  {lager, "2.0.*",{git, "https://github.com/basho/lager.git", {tag,"2.0.3"}}},
  {fifo_spec, "0.1.15", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.15"}}},
  {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "2.0.0"}}},
  {webmachine, ".*", {git, "https://github.com/basho/webmachine.git", {tag, "1.10.3"}}},
  {riak_core, ".*", {git, "https://github.com/project-fifo/riak_core.git", {branch, "fifo-0.6.2"}}},
  {riak_ensemble, ".*", {git, "https://github.com/basho/riak_ensemble.git", {branch, "develop"}}},
  {mdns_server_lib, ".*", {git, "https://github.com/Licenser/mdns_server_lib.git", {tag, "0.1.16"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.0"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
  {msgpack, ".*", {git, "https://github.com/project-fifo/msgpack-erlang.git", {tag, "0.2.3-dialyzer"}}},
  {jsxd, ".*", {git, "https://github.com/Licenser/jsxd.git", {tag, "0.1.8"}}},
  {libsnarl, "0.3.*", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.3.13"}}},
  {lager_watchdog, ".*", {git, "https://github.com/project-fifo/lager_watchdog.git", {tag, "0.1.8"}}},
  {fifo_utils, "0.1.*", {git, "https://github.com/project-fifo/fifo_utils.git", {tag, "0.1.6"}}},
  {folsom_ddb, ".*", {git, "https://github.com/dalmatinerdb/folsom_ddb.git", {tag, "0.1.3"}}}
 ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
