%% -*- erlang -*-
{sub_dirs, ["rel", "apps/howl"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  %% Lets overwrite stuff that is not 18.0 compatible :(
  {edown,".*",     {git, "https://github.com/uwiger/edown.git",       {branch, "master"}}},
  {ranch,".*",     {git, "https://github.com/project-fifo/ranch.git",       {branch, "1.1.0p"}}},
  
  {fifo_lager, ".*", {git, "https://github.com/project-fifo/fifo_lager.git", {tag, "0.1.0"}}},
  {lager, "2.1.1"},
  jsxd,
  {clique, ".*", {git, "https://github.com/project-fifo/clique.git", {branch, "develop"}}},
  {cuttlefish, ".*", {git, "https://github.com/tsloughter/cuttlefish.git", {branch, "develop"}}},
  {wiggle, ".*", {git, "http://github.com/project-fifo/wiggle-app.git", {branch, "dev"}}},
  {riak_core, ".*", {git, "https://github.com/project-fifo/riak_core.git", {branch, "fifo-0.6.2"}}},
  {riak_ensemble, ".*", {git, "https://github.com/basho/riak_ensemble.git", {tag, "2.1.2"}}},
  mdns_server_lib,
  {bugsnag, ".*", {git, "https://github.com/project-fifo/bugsnag-erlang.git", {branch, "master"}}},
  {cowboy, "1.0.2"},
  {jsx, "1.4.5"},
  {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", {tag, "0.3.3"}}},
  {libsnarl, "0.3.*", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.3.34"}}},
  jsxd,
  fifo_utils,
  folsom_ddb,
  {poolboy, "1.5.1"},
  %% Runtime tools
  eper,
  recon
 ]}.

{plugins, [pc,
           {rebar3_cuttlefish, ".*", {git, "git://github.com/tsloughter/rebar3_cuttlefish.git", {branch, "master"}}}
          ]}.

{pre_hooks, [{compile, "make version_header"}]}.

{provider_hooks,
 [{post, [{release, cuttlefish}]}]}.

{overrides,
 [
  %% R19
  {override, dflow,
   [{erl_opts, [debug_info]}]},
  {override, dqe,
   [{erl_opts, [debug_info]}]},
  {override, mdns_client_lib,
   [{erl_opts, [debug_info, {parse_transform, lager_transform}]}]},
  {override, edown,
   [{erl_opts, [debug_info]}]},
  {override, eper,
   [{erl_opts, [debug_info]}]},

  {override, riak_core,
   [{erl_opts, [{parse_transform, lager_transform},
                debug_info, {platform_define, "^[0-9]+", namespaced_types},
                {platform_define, "^R15", "old_hash"}]}]},
  {override, wiggle,
   [{erl_opts, [{i, "deps"},
                debug_info,
                {parse_transform, lager_transform}]}]},
  {override, riak_ensemble,
   [{erl_opts, [debug_info,
                warn_untyped_record,
                {parse_transform, lager_transform}]}]},
  {override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]},
  %% Normal
  {override, setup, [{post_hooks, []}]},
  {override, e2qc,
   [{plugins,
     [pc]},
    {provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]}]},
  {override, eleveldb,
   [{pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                 {compile, "c_src/build_deps.sh"}]},

    {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

    {plugins,
     [pc]},

    {provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]}]}]}.

{profiles, [
            {short, [{erl_opts, [{d, 'EQC_SHORT_TEST'}]}]},
            {long, [{erl_opts, [{d, 'EQC_LONG_TEST'}]}]},
            {prod, [{relx, [{dev_mode, false}]}]}
           ]}.

{relx,
 [{release, {"howl", "0.7.1"},
   [
    sasl,
    howl,
    {setup , load},
    {cuttlefish, load},
    {bear, load}, % we need this since folsom doesn't include it
    %% we do need the followign two because qdate isn't yet including them
    {erlang_localtime, load},
    {erlware_commons, load},
    %% Runtime tools
    {recon, load},
    {eper, load}
   ]},

  {dev_mode, true},
  {include_erts, true},
  {generate_start_script, false},
  {overlay_vars, "rel/vars.config"},
  {overlay,
   [{mkdir, "etc"},
    {copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
    {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {template, "rel/files/howl", "bin/howl"},
    {template, "rel/files/howl-admin", "bin/howl-admin"},
    {copy, "_build/default/bin/cuttlefish", "bin/cuttlefish"},
    {copy, "share", "share"},
    {copy, "_build/default/lib/fifo_utils/priv/update_config.sh", "share/"},
    {copy, "apps/howl/mibs/HOWL-MIB.mib", "share/HOWL-MIB.mib"},
    {template, "schema/howl.schema", "share/schema/00-howl.schema"},
    {template, "_build/default/lib/wiggle/priv/wiggle.schema", "share/schema/01-wiggle.schema"},
    {template, "_build/default/lib/wiggle/priv/wiggle_cache.schema", "share/schema/02-wiggle_cache.schema"},
    {template, "_build/default/lib/bugsnag/priv/bugsnag.schema", "share/schema/03-bugsnag.schema"},
    {template, "schema/erlang_vm.schema", "share/schema/04-vm.schema"},
    {template, "_build/default/lib/riak_core/priv/riak_core.schema", "share/schema/05-riak_core.schema"},
    {template, "_build/default/lib/fifo_lager/priv/lager.schema", "share/schema/06-lager.schema"},
    {template, "_build/default/lib/libsnarl/priv/libsnarl.schema", "share/schema/07-libsnarl.schema"},
    {template, "_build/default/lib/fifo_s3/priv/fifo_s3.schema", "share/schema/08-fifo_S3.schema"},
    {template, "_build/default/lib/dqe/priv/dqe.schema", "share/schema/09-dqe.schema"},
    {template, "_build/default/lib/folsom_ddb/priv/folsom_ddb.schema", "share/schema/10-folsom_ddb.schema"},
    {template, "schema/snmp.schema", "share/schema/11-snmp.schema"},
    {template, "_build/default/lib/mdns_client_lib/priv/mdns_client.schema", "share/schema/12-mdns_client.schema"},
    {template, "_build/default/lib/mdns_server_lib/priv/mdns_server.schema", "share/schema/13-mdns_server.schema"},
    {copy, "snmp", "snmp"}
   ]}]}.

%% Cuttlefish filename
{cuttlefish_filename, "howl.conf.example"}.

{dialyzer, [{warnings, [underspecs]}]}.
