%% -*- erlang -*-
{sub_dirs, ["rel", "apps/howl"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}},
  {lager, "2.0.*",{git, "https://github.com/basho/lager.git", {tag,"2.0.3"}}},
  {fifo_spec, "0.1.7", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.7"}}},
  {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "505400716dbc76ec9387d9d4335819b3bdcff9b2"}}},
  {webmachine, ".*", {git, "https://github.com/basho/webmachine.git", {tag, "1.10.3"}}},
  {riak_core, "1.4.*", {git, "https://github.com/project-fifo/riak_core.git", {branch, "fifo"}}},
  {riak_ensemble, ".*", {git, "https://github.com/basho/riak_ensemble.git", {branch, "develop"}}},
  {statman, ".*", {git, "https://github.com/Licenser/statman.git", {tag, "master"}}},
  {mdns_server_lib, ".*", {git, "https://github.com/Licenser/mdns_server_lib.git", {tag, "0.1.15"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
  {msgpack, ".*", {git, "https://github.com/project-fifo/msgpack-erlang.git", {tag, "0.2.3-dialyzer"}}},
  {jsxd, ".*", {git, "https://github.com/Licenser/jsxd.git", {tag, "0.1.7"}}},
  {libsnarl, "0.2.35", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.2.35"}}}
 ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
