{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "howl", "0.1.10",
        [
         kernel,
         stdlib,
         sasl,
         howl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "howl"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, howl, [{incl_cond, include}]}
      ]}.

{target_dir, "howl"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config.example"},
           {template, "files/vm.args", "etc/vm.args.example"},
           {template, "files/howl", "bin/howl"},
           {template, "files/howl-admin", "bin/howl-admin"},
           {copy, "../share", "share"},
           {copy, "../apps/howl/mibs/HOWL-MIB.mib", "share/HOWL-MIB.mib"},
           {copy, "../snmp", "snmp"}
           ]}.
