%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.

{http_port,             "8080"}.
{tcp_port,              "4240"}.

%%
%% etc/vm.args
%%
{node,                  "howl@127.0.0.1"}.
{cookie,                "howl"}.
