%false%
%% etc/app.config
%%
{ring_state_dir,        "/data/howl/db/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8498"}.
{handoff_port,          "8499"}.
{handoff_ip,            "127.0.0.1"}.
{howl_ip,               "127.0.0.1"}.
{http_port,             "80"}.
{ssl_port,              "443"}.
{tcp_port,              "4240"}.
{log_path,              "/data/howl/log"}.
{db_path,               "/data/howl/db"}.

{service,               "howl"}.
{bugsnag_app,           "howl"}.
{bugsnag_release_state, "release"}.
{bugsnag_app_version,   "0.8.0p8"}.

%%
%% etc/vm.args
%%
{node,                  "howl@127.0.0.1"}.
{crash_dump,            "/data/howl/log"}.
{cookie,                "howl"}.
{run_user,              "howl"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "howl.conf"}.

{platform_etc_dir,      "/data/howl/etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/data/howl/db"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "/data/howl/log"}.
