%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8491"}.
{handoff_port,          "8401"}.

{http_port,             "8081"}.
{tcp_port,              "4241"}.
{log_dir,               "log"}.

%%
%% etc/vm.args
%%
{node,                  "howl1@127.0.0.1"}.
{cookie,                "howl"}.
