%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8492"}.
{handoff_port,          "8402"}.

{http_port,             "8082"}.
{tcp_port,              "4242"}.
{log_dir,               "log"}.

%%
%% etc/vm.args
%%
{node,                  "howl2@127.0.0.1"}.
{cookie,                "howl"}.
