%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8494"}.
{handoff_port,          "8404"}.

{http_port,             "8084"}.
{tcp_port,              "4244"}.
{log_dir,               "log"}.

%%
%% etc/vm.args
%%
{node,                  "howl4@127.0.0.1"}.
{cookie,                "howl"}.
